@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
}

.ql-container.ql-snow {
    border: none!important;
}

.ql-editor {
    padding-left: 8px!important;
    padding-right: 8px!important;
    padding-bottom: 48px!important;
}

.quill::-webkit-scrollbar {
    width: 0;
}

.disappear {
    transform: rotateY(90deg);
}